{% extends 'account/base_manage_email.html' %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
  {% trans 'Email Address' %}
{% endblock %}

{% block content %}
  <hr />
  <h2 class="logo-font mb-4">{% trans 'Email Address' %}</h2>
  <hr />

  {% if not emailaddresses %}
    {% include 'account/snippets/warn_no_email.html' %}
  {% endif %}

  {% url 'account_email' as action_url %}
  <form method="post" action="{{ action_url }}" class="mb-3">
    {% csrf_token %}

    {% if current_emailaddress %}
      <div class="mb-2">
        <label class="form-label" for="current_email">{% trans 'Current email' %}:</label>
        <input id="current_email" type="email" class="form-control" value="{{ current_emailaddress.email }}" disabled />
      </div>
    {% endif %}

    {% if new_emailaddress %}
      <div class="mb-2">
        <label class="form-label" for="new_email">
          {% if not current_emailaddress %}
            {% trans 'Current email' %}:
          {% else %}
            {% trans 'Changing to' %}:
          {% endif %}
        </label>
        <input id="new_email" type="email" class="form-control" value="{{ new_emailaddress.email }}" disabled />
        <div class="mt-1">
          <button form="pending-email" type="submit" name="action_send" class="btn btn-outline-primary btn-sm me-2">{% trans 'Re-send Verification' %}</button>
          {% if current_emailaddress %}
            <button form="pending-email" type="submit" name="action_remove" class="btn btn-danger btn-sm">{% trans 'Cancel Change' %}</button>
          {% endif %}
          <small class="form-text text-muted d-block mt-1">{% blocktranslate %}Your email address is still pending verification.{% endblocktranslate %}</small>
        </div>
      </div>
    {% endif %}

    <div class="mb-2">
      <label class="form-label" for="{{ form.email.auto_id }}">{% trans 'Change to' %}:</label>
      <input id="{{ form.email.auto_id }}" type="email" class="form-control" name="email" value="{{ form.email.value }}" />
      {% if form.email.errors %}
        <div class="text-danger mt-1">{{ form.email.errors }}</div>
      {% endif %}
    </div>

    <div class="mt-3">
      <button type="submit" name="action_add" class="btn btn-primary btn-sm">{% trans 'Change Email' %}</button>
    </div>
  </form>

  {% if new_emailaddress %}
    <form style="display: none" id="pending-email" method="post" action="{% url 'account_email' %}">
      {% csrf_token %}
      <input type="hidden" name="email" value="{{ new_emailaddress.email }}" />
    </form>
  {% endif %}
{% endblock %}
