{% extends 'account/base.html' %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
  {% trans 'Password Change' %}
{% endblock %}

{% block inner_content %}
  <hr />
  <h2 class="logo-font mb-4">
    <i class="bi bi-key text-warning"></i>
    {% trans 'Change Password' %}
  </h2>
  <hr />

  <form class="signup" id="change_password_form" method="POST" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <a class="btn btn-outline-black rounded-0 text-white" href="{% url 'profile' %}">← Back to Profile</a>
    <button class="btn btn-password btn-sm ms-4" type="submit">{% trans 'Change Password' %}</button>
  </form>
{% endblock %}
