{% extends 'account/base.html' %}

{% load i18n %}

{% block head_title %}
  {% if token_fail %}
    {% trans 'Bad Token' %}
  {% else %}
    {% trans 'Change Password' %}
  {% endif %}
{% endblock %}

{% block inner_content %}
  <hr />
  <h2 class="logo-font mb-4">
    {% if token_fail %}
      {% trans 'Bad Token' %}
    {% else %}
      {% trans 'Change Password' %}
    {% endif %}
  </h2>
  <hr />

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
      <a class="text-white" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </p>
    <a class="btn btn-outline-primary btn-sm mt-3" href="{% url 'account_login' %}">← Back to Login</a>
  {% else %}
    {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="mt-3">
          <a class="btn btn-outline-primary btn-sm me-2" href="{% url 'account_login' %}">← Back to Login</a>
          <button class="btn btn-primary btn-sm" type="submit">{% trans 'Change Password' %}</button>
        </div>
      </form>
    {% else %}
      <p>
        {% trans 'Your password is now changed.' %}
      </p>
      <a class="btn btn-outline-primary btn-sm mt-3" href="{% url 'account_login' %}">← Back to Login</a>
    {% endif %}
  {% endif %}
{% endblock %}
