{% extends 'base.html' %}
{% load static %}
{% load dishes_extras %}

{% block title %}
  Tarh Tastyhub
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'dishes/css/dishes.css' %}" />
{% endblock %}
{% block content %}
  
  <div class="container my-5">
    <div class="text-center mb-4">
      <h2 class="section-title"><i class="fa-solid fa-trash-can me-2"></i> Delete Category</h2>
    </div>
    <div class="form-container mx-auto" style="max-width: 700px;">
      {% if category and category.pk %}
       <div class="warning-box">
          <i class="fa-solid fa-triangle-exclamation fa-icon"></i>
          Are you sure you want to delete the category<span class="dish-name"><strong>{{ category.name }}</strong><span>?
      </div>
        <form method="post">
          {% csrf_token %}
          <div class="text-center">
            <button type="submit" class="btn-danger">Confirm Delete</button>
            <a href="{% url 'admin_dashboard' %}" class="btn-cancel">Cancel</a>
          </div>
        </form>
      {% else %}
        <p class="text-error">
          <i class="fa-solid fa-triangle-exclamation warning-icon"></i>The category does not exist or cannot be deleted.
        </p>
        <a href="{% url 'category_list' %}" class="btn-cancel">Back to Categories</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
