{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
  <div class="hero-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-auto hero-overlay text-center text-md-start">
          <h1 class="display-4 logo-font text-dark">Fresh Home-Style Meals, Delivered Fast</h1>
          <p class="lead mt-3">Explore our dishes, add your favourites to your bag, and enjoy the taste of home.</p>
          <div class="mt-4">
            <a href="{% url 'dish_list' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
