{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div>
      <h2>✅ Order Placed Successfully!</h2>
      <p>Thank you for your order, {{ order.full_name }}.</p>
      <p>
        Order Number: <strong>{{ order.order_number }}</strong>
      </p>
      <p>We have sent a confirmation email to: {{ order.email }}</p>
      <a href="{% url 'profile' %}" class="btn btn-primary mt-3">Go To My Profile</a>
    </div>
    <div class="text-center mt-4">
      <a href="{% url 'dish_list' %}" class="btn btn-warning fw-bold">Continue Shopping</a>
    </div>
  </div>
{% endblock %}
{% block postloadjs %}
  <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}
