body {
    background-color: #f8f9fa;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    color: #212529;
}

/* --------------------- Navbar -------------------- */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-link {
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #ffc107 !important;
}

/* Dropdown */
.dropdown-menu {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0.8rem 1.2rem rgba(0,0,0,0.1);
    max-height: 400px;
    overflow-y: auto;
}

.dropdown-item:hover {
    background-color: #ffc107;
    color: #000 !important;
}
