
* {
    padding: 0;
    margin: 0;
}


body {
    background-color: rgba(39, 143, 106, 0.843);
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    color: #212529;
}


/* Navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-link {
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: rgba(39, 143, 106, 0.843);
}

/* Dropdown */
.dropdown-menu {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0.8rem 1.2rem rgba(0,0,0,0.1);
    max-height: 400px;
    overflow-y: auto;
}

.dropdown-item:hover {
    background-color: #ffc107;
    color: #000;
}

/* Navbar Bag Badge */
.navbar .badge,
.offcanvas .badge {
    font-size: 0.75rem;
    padding: 3px 6px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -10px;
}

/* Hero Section */
.hero {
    background: url('/static/images/banner.jpg') center center / cover no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    color: white;
    flex-direction: column;
}

.hero h1 { font-size: 3rem; font-weight: 700; }
.hero p { font-size: 1.2rem; }


/* Cards */
.card {
    border-radius: 12px;
    transition: transform 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* Buttons */
.btn-warning {
    color: #000;
    font-weight: 600;
}

/* Forms  */
.form-control {
    border-radius: 8px;
}

.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 5px rgba(255,193,7,0.5);
}

/* Flying Bag Animation */
#flying-image {
    position: fixed;
    width: 50px;
    height: 50px;
    pointer-events: none;
    border-radius: 8px;
    z-index: 9999;
    transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

/* Search Dropdown */
#search-results,
#mobile-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2000;
    background: white;
    border: 1px solid #ddd;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
}

/* Toast  */
#notification-toast {
    min-width: 260px;
    border-radius: 12px;
}

/* Footer */
footer {
    background-color: #212529;
    color: white;
    padding: 20px;
    font-size: 0.9rem;
}

/* Mobile  */
@media (max-width:768px){
    .hero h1 { font-size: 2rem; }
    .hero p { font-size: 1rem; }
}

