/* index.css */

.hero-section,
.testimonials-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 2%;
}

.hero-section {
  background-image: url("../images/food-hero.jpg");
}

.testimonials-section {
  background-image: url("../images/testimonials_pic.jpg");
}

.hero-overlay {
  background-color: var(--colour-body-overlay);
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
}

/* Media Queries */
@media (max-width: 767px) {
  .hero-overlay {
    max-width: 80%;
  }
}