/* index.css */

.hero-section {
  background-image: url("../images/food-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 2%;
}

.testimonials-section{
  background-image: url("../images/testimonials_pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 2%;
}
.hero-overlay {
  background-color: rgba(39, 143, 106, 0.843);
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
}

/* Media Queries */
@media (max-width: 767px) {
  .hero-overlay {
    max-width: 80%;
  }
}