{% load static %}
{% load dishes_extras %}

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm d-none d-lg-block">
  <div class="container">
    <a href="{% url 'home' %}" class="brand-logo text-decoration-none">
      <i class="fa-solid fa-utensils brand-icon"></i>
      <span class="brand-accent">Tarh</span>
      <span class="brand-main">Tastyhub</span>
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Dishes</a>
          <ul class="dropdown-menu">
            {% for category in categories %}
              <li>
                <a class="dropdown-item" href="{% url 'dish_list' %}?category={{ category.slug }}">{{ category.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'dish_list' %}">Browse Dishes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'checkout' %}">Checkout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
